In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('../data/us-airports.csv')
df.head(5)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,...,scheduled_service,gps_code,icao_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,United States,US,...,1,KLAX,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,Tom Bradley,1335475,2024-04-02T16:36:13+00:00
1,3754,KORD,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,680.0,NaN,United States,US,...,1,KORD,KORD,ORD,ORD,https://www.flychicago.com/ohare/home/pages/de...,https://en.wikipedia.org/wiki/O'Hare_Internati...,"CHI, Orchard Place",1503175,2024-03-09T23:28:49+00:00
2,3622,KJFK,large_airport,John F. Kennedy International Airport,40.639447,-73.779317,13.0,NaN,United States,US,...,1,KJFK,KJFK,JFK,JFK,https://www.jfkairport.com/,https://en.wikipedia.org/wiki/John_F._Kennedy_...,"Manhattan, New York City, NYC, Idlewild, IDL, ...",1052075,2026-01-12T15:26:18+00:00
3,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,1026.0,NaN,United States,US,...,1,KATL,KATL,ATL,ATL,https://www.atl.com,https://en.wikipedia.org/wiki/Hartsfield–Jacks...,NaN,2002475,2025-09-12T16:52:18+00:00
4,3878,KSFO,large_airport,San Francisco International Airport,37.619806,-122.374821,13.0,NaN,United States,US,...,1,KSFO,KSFO,SFO,SFO,http://www.flysfo.com/,https://en.wikipedia.org/wiki/San_Francisco_In...,"QSF, QBA",1112475,2024-04-02T16:43:50+00:00

In [3]:
df_airport = df[["latitude_deg", "longitude_deg", "iata_code"]]

In [4]:
df_airport

       latitude_deg  longitude_deg iata_code
0         33.942501    -118.407997       LAX
1         41.978600     -87.904800       ORD
2         40.639447     -73.779317       JFK
3         33.636700     -84.428101       ATL
4         37.619806    -122.374821       SFO
...             ...            ...       ...
32394     40.160970    -123.463850       NaN
32395     28.261934     -82.185663       NaN
32396     40.605805     -81.415002       NaN
32397     35.084975    -108.788350       NaN
32398     35.143373    -116.107035       NaN

[32399 rows x 3 columns]

In [5]:
# tu lista de códigos IATA
iata_list = [
    'CLT','CVG','DSM','GSP','PIT','RDU','CHS','MSP','ATL','DTW','OAJ','FAY',
    'OMA','LGA','STL','CID','TUL','IAD','DHN','JFK','CHO','HSV','MKE','GTR',
    'EWR','IND','BHM','MLI','MLU','HPN','MEM','TYS','LIT','BUF','XNA','MSN',
    'ORF','CWA','AEX','BTR','CHA','ILM','BGR','BTV','CLE','SAV','AVL','GRR',
    'CAE','ROC','DAY','BNA','GSO','ROA','DCA','SGF','MGM','PVD','EVV','BGM',
    'MYR','MCI','ABE','VLD','FSD','ITH','PWM','AGS','RIC','SHV','SYR','CSG',
    'MOB','BMI','CRW','ORH','ALB','JAN','JAX','TLH','FAR','TRI','LFT','LAX',
    'DEN','BOS','MIA','DFW','SJU','AUS','HNL','PHL','TUS','ORD','SBA','SDF',
    'AVP','MSY','TPA','SEA','BDL','PHX','RSW','MCO','OGG','OKC','IAH','COS',
    'BWI','SFO','BUR','SAN','SLC','PBI','PDX','LAS','STX','ELP','ABQ','EYW',
    'SAT','FLL','EGE','RNO','GEG','SNA','STT','ONT','JAC','SBP','CMH','LBB',
    'SMF','ICT','EUG','SRQ','FAT','MFE','MRY','AMA','PNS','PSP','SJC','VPS',
    'LEX','STS','MDT','LIH','BFL','BOI','FCA','ECP','ANC','KOA','MTJ','MSO',
    'BZN','PSC','FAI','OAK','OTZ','PAE','JNU','OME','ADQ','BET','BRW','SCC',
    'DAL','KTN','CDV','YAK','SIT','PSG','WRG','RDM','PQI','BQN','ISP','PSE',
    'MDW','LGB','HOU','BIL','ATW','MLB','BIS','IDA','HRL','GNV','TVC','GRB',
    'DAB','GPT','TTN','GJT','PIE','CAK','SFB','LCK','GTF','TOL','HGR','FWA',
    'SBN','BLV','SCK','FNT','AZA','PVU','MFR','PIA','SWF','PGD','RFD','USA',
    'PBG','BLI','HTS','MOT','ELM','RAP','IAG','PSM','ITO','MAF','YUM','ABI',
    'MHK','CRP','CLL','FSM','GRK','LRD','CMI','BRO','COU','MHT','SJT','LSE',
    'RST','HHH','MQT','ACY','LBE','LAN','RDD','BQK','ASE','LWS','GFK','TWF',
    'PIH','HLN','DLH','MBS','AZO','ABY','SUN','HIB','CIU','SGU','ABR','ESC',
    'INL','APN','XWA','BRD','BJI','IMT','RHI','PLN','CDC','EKO','BTM','CPR',
    'ACV','GUC','FLG','SAF','SPS','TYR','GGG','LAW','ROW','SWO','DRO','TXK',
    'GRI','LCH','BPT','BFF','DDC','CMX','PIB','JLN','LAR','LBF','DEC','JST',
    'CYS','GCC','FOD','LBL','DVL','JMS','SHR','VCT','RKS','MEI','PRC','SUX',
    'MCW','COD','EAR','DIK','RIW','SLN','HYS','LNK','HOB','HDN','SCE','OTH',
    'ACT','GCK','GUM','SPN','ADK','STC','SPI','CKB','SMX','PPG','BIH','MGW',
    'EAU','CLD','EWN','AKN','WYS','FMN','ACK','GUF','MVY','ALO','GST','DLG',
    'HYA','PIR','ATY','LAF'
]

# filtrar el DataFrame
df_airport = df_airport[df_airport["iata_code"].isin(iata_list)]

In [6]:
df_airport

      latitude_deg  longitude_deg iata_code
0        33.942501    -118.407997       LAX
1        41.978600     -87.904800       ORD
2        40.639447     -73.779317       JFK
3        33.636700     -84.428101       ATL
4        37.619806    -122.374821       SFO
...            ...            ...       ...
1807     60.491798    -145.477997       CDV
1986     51.883564    -176.642783       ADK
2190     59.044701    -158.505005       DLG
2194     48.260863    -103.751160       XWA
2464     56.484299    -132.369995       WRG

[344 rows x 3 columns]

In [7]:
df_airport["iata_code"].nunique()

344

In [8]:
df_airport["iata_code"].unique().tolist()

['LAX',
 'ORD',
 'JFK',
 'ATL',
 'SFO',
 'DFW',
 'EWR',
 'LAS',
 'MCO',
 'DEN',
 'IAD',
 'MIA',
 'LGA',
 'BOS',
 'SEA',
 'PHX',
 'PHL',
 'CLT',
 'IAH',
 'DCA',
 'DTW',
 'MSP',
 'SLC',
 'FLL',
 'MDW',
 'BWI',
 'SAN',
 'STL',
 'HNL',
 'PDX',
 'MSY',
 'BNA',
 'TPA',
 'CVG',
 'AUS',
 'RDU',
 'PIT',
 'SJC',
 'SAT',
 'SNA',
 'OAK',
 'MCI',
 'MEM',
 'CLE',
 'HOU',
 'DAL',
 'IND',
 'CMH',
 'ABQ',
 'MKE',
 'JAX',
 'TUS',
 'BUF',
 'BDL',
 'ANC',
 'OKC',
 'SMF',
 'OGG',
 'BUR',
 'CHS',
 'OMA',
 'PBI',
 'PVD',
 'SDF',
 'RNO',
 'ORF',
 'ELP',
 'RIC',
 'SAV',
 'LGB',
 'RSW',
 'BHM',
 'KOA',
 'ALB',
 'ONT',
 'BOI',
 'HPN',
 'SYR',
 'GRR',
 'DSM',
 'ROC',
 'TUL',
 'PWM',
 'ICT',
 'DAY',
 'GEG',
 'MSN',
 'COS',
 'LIT',
 'BTV',
 'MHT',
 'TYS',
 'PSP',
 'LIH',
 'EYW',
 'GSO',
 'GSP',
 'SBA',
 'LEX',
 'PNS',
 'SRQ',
 'TLH',
 'RAP',
 'AVL',
 'MRY',
 'PIE',
 'DAB',
 'MDT',
 'BGR',
 'CAE',
 'SFB',
 'CAK',
 'JAC',
 'LBB',
 'FAT',
 'HSV',
 'CHO',
 'CHA',
 'MYR',
 'ITO',
 'GRB',
 'SAF',
 'FWA',
 'SGF',
 'FAI',
 'EUG',
 'SBN',
 'CID',
 'AMA',
 'GNV',
 'FAR',
 'SBP',
 'BIL',
 'BZN',
 'SWF',
 'FSD',
 'BLI',
 'ROA',
 'ILM',
 'XNA',
 'LNK',
 'ISP',
 'CLD',
 'MLB',
 'STS',
 'ABE',
 'MAF',
 'MOB',
 'PAE',
 'ASE',
 'DLH',
 'BTR',
 'JAN',
 'LAN',
 'RST',
 'AVP',
 'CRP',
 'MSO',
 'ACK',
 'HHH',
 'MFR',
 'MVY',
 'TVC',
 'CRW',
 'TOL',
 'BIS',
 'GJT',
 'PRC',
 'FLG',
 'PSM',
 'AZA',
 'PIA',
 'YUM',
 'FNT',
 'GPT',
 'AGS',
 'GTF',
 'JNU',
 'VPS',
 'AZO',
 'BFL',
 'TRI',
 'CLL',
 'EGE',
 'MGM',
 'ACY',
 'BMI',
 'CPR',
 'EVV',
 'TTN',
 'SGU',
 'FCA',
 'CMI',
 'ITH',
 'ATW',
 'SHV',
 'MLI',
 'PGD',
 'MFE',
 'HYA',
 'LSE',
 'FSM',
 'IDA',
 'ELM',
 'SMX',
 'ACT',
 'SCE',
 'RFD',
 'CYS',
 'ECP',
 'SJT',
 'ABI',
 'FAY',
 'IAG',
 'RDD',
 'SLN',
 'SCK',
 'GFK',
 'SPI',
 'CDC',
 'COU',
 'BRO',
 'LFT',
 'ORH',
 'DRO',
 'PVU',
 'RDM',
 'PSC',
 'ROW',
 'TYR',
 'HRL',
 'MOT',
 'LBE',
 'GGG',
 'MLU',
 'LCK',
 'HLN',
 'MBS',
 'LRD',
 'BGM',
 'CSG',
 'MHK',
 'LBF',
 'MTJ',
 'GCK',
 'AEX',
 'ACV',
 'EAU',
 'EKO',
 'SUX',
 'USA',
 'SPS',
 'BRD',
 'GUF',
 'MQT',
 'BQK',
 'MEI',
 'HDN',
 'DHN',
 'GRI',
 'HTS',
 'KTN',
 'PIH',
 'JLN',
 'OTH',
 'ALO',
 'WYS',
 'PIR',
 'TWF',
 'SUN',
 'CWA',
 'LAF',
 'BPT',
 'MGW',
 'PLN',
 'HGR',
 'HYS',
 'SWO',
 'ABR',
 'STC',
 'ABY',
 'LAR',
 'RKS',
 'TXK',
 'LWS',
 'FMN',
 'LCH',
 'EWN',
 'VLD',
 'MCW',
 'PBG',
 'BFF',
 'SIT',
 'BIH',
 'GCC',
 'BTM',
 'GTR',
 'VCT',
 'COD',
 'HOB',
 'OAJ',
 'DEC',
 'LBL',
 'LAW',
 'CKB',
 'DDC',
 'SHR',
 'GUC',
 'BLV',
 'PQI',
 'EAR',
 'GRK',
 'INL',
 'OME',
 'BJI',
 'CIU',
 'CMX',
 'HIB',
 'JMS',
 'DIK',
 'ESC',
 'APN',
 'PIB',
 'RIW',
 'YAK',
 'RHI',
 'BET',
 'JST',
 'OTZ',
 'BRW',
 'FOD',
 'AKN',
 'ADQ',
 'SCC',
 'ATY',
 'GST',
 'DVL',
 'PSG',
 'IMT',
 'CDV',
 'ADK',
 'DLG',
 'XWA',
 'WRG']

In [9]:
faltantes_airports = [
    {"iata_code": "SJU", "latitude_deg": 18.4380556, "longitude_deg": -66.0044444},  # San Juan, Puerto Rico :contentReference[oaicite:1]{index=1}
    {"iata_code": "STX", "latitude_deg": 17.7019444, "longitude_deg": -64.7980556},  # St. Croix, U.S. Virgin Islands (Henry E. Rohlsen) :contentReference[oaicite:2]{index=2}
    {"iata_code": "STT", "latitude_deg": 18.3375, "longitude_deg": -64.9733333},     # St. Thomas, U.S. Virgin Islands (Cyril E. King) :contentReference[oaicite:3]{index=3}
    {"iata_code": "BQN", "latitude_deg": 18.4941667, "longitude_deg": -67.1305556},  # Aguadilla, Puerto Rico (Rafael Hernández) :contentReference[oaicite:4]{index=4}
    {"iata_code": "PSE", "latitude_deg": 18.0119444, "longitude_deg": -66.5638889},  # Ponce, Puerto Rico (Mercedita) :contentReference[oaicite:5]{index=5}
    {"iata_code": "SJT", "latitude_deg": 31.3575, "longitude_deg": -100.4963889},    # San Angelo Regional (Mathis Field) :contentReference[oaicite:6]{index=6}
    {"iata_code": "GUM", "latitude_deg": 13.4833333, "longitude_deg": 144.7958333},  # Guam Intl Airport :contentReference[oaicite:7]{index=7}
    {"iata_code": "SPN", "latitude_deg": 15.1852778, "longitude_deg": 145.7227778},  # Saipan International Airport (NMI) :contentReference[oaicite:8]{index=8}
    {"iata_code": "PPG", "latitude_deg": -14.3319444, "longitude_deg": -170.7102778} # Pago Pago Intl Airport (American Samoa) :contentReference[oaicite:9]{index=9}
]

In [10]:
df_extra = pd.DataFrame(faltantes_airports)
df_airport = pd.concat([df_airport, df_extra], ignore_index=True)

In [11]:
df_airport

     latitude_deg  longitude_deg iata_code
0       33.942501    -118.407997       LAX
1       41.978600     -87.904800       ORD
2       40.639447     -73.779317       JFK
3       33.636700     -84.428101       ATL
4       37.619806    -122.374821       SFO
..            ...            ...       ...
348     18.011944     -66.563889       PSE
349     31.357500    -100.496389       SJT
350     13.483333     144.795833       GUM
351     15.185278     145.722778       SPN
352    -14.331944    -170.710278       PPG

[353 rows x 3 columns]

In [12]:
df_airport.to_csv("airports.csv", index=False, encoding='utf-8')