### 1. Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.set_option("display.max_columns", None)  # para ver todas las columnas

### 2. Loading DataSet

In [2]:
df_nov = pd.read_csv('../data/ontime_nov_2024.csv')
df_dec = pd.read_csv('../data/ontime_dec_2024.csv')
df_jan = pd.read_csv('../data/ontime_jan_2025.csv')
df_feb = pd.read_csv('../data/ontime_february_2025.csv')
df_mar = pd.read_csv('../data/ontime_march_2025.csv')
df_apr = pd.read_csv('../data/ontime_april_2025.csv')
df_may = pd.read_csv('../data/ontime_may_2025.csv')
df_jun = pd.read_csv('../data/ontime_june_2025.csv')
df_jul = pd.read_csv('../data/ontime_july_2025.csv')
df_aug = pd.read_csv('../data/ontime_august_2025.csv')
df_sept = pd.read_csv('../data/ontime_sept_2025.csv')
df_oct = pd.read_csv('../data/ontime_oct_2025.csv')

/var/folders/lr/d46q9z0s2zndy_5npx2_zwq00000gn/T/ipykernel_5305/4169946023.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dec = pd.read_csv('../data/ontime_dec_2024.csv')

### 3. Merging all Dataset

We have 12 different Datasets, from November 2024 to October 2025. I'm going to merge them so I can work with all of them at the same time, and also comparte delayed flight by season.

In [3]:
df_airlines = pd.concat([df_nov, df_dec, df_jan, df_feb, df_mar, df_apr, df_may, df_jun, df_jul, df_aug, df_sept, df_oct], ignore_index=True)
df_airlines.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,DEP_DELAY_NEW,DEP_DEL15,ARR_TIME,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY
0,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4800,CLT,"Charlotte, NC",NC,LGA,"New York, NY",NY,1828.0,52.0,1.0,2015.0,36.0,1.0,0.0,NaN,6.0,0.0,0.0,0.0
1,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4801,CVG,"Cincinnati, OH",KY,DTW,"Detroit, MI",MI,1741.0,0.0,0.0,1849.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4802,DSM,"Des Moines, IA",IA,MSP,"Minneapolis, MN",MN,1554.0,0.0,0.0,1657.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4803,CVG,"Cincinnati, OH",KY,DTW,"Detroit, MI",MI,1350.0,0.0,0.0,1455.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4804,GSP,"Greer, SC",SC,LGA,"New York, NY",NY,1245.0,0.0,0.0,1435.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

DataSets from the U.S. Department of Transportation’s (DOT) Bureau of Transportation Statistics (BTS).


Columns description:

- **year:** Year of the flight.
- **month:** Month of the flight.
- **day_of_month:** Day of the month on which the flight occurred.
- **day_of_week:** Day of the week on which the flight occurred.
- **fl_date:** Full calendar date of the flight (YYYY-MM-DD).
- **OP_unique_carrier:** Unique carrier code reported by the airline. When the same code has been used by multiple carriers over time, a numeric suffix is added for earlier users (e.g., PA, PA(1), PA(2)). This field should be used for analysis across multiple years.
- **OP_carrier_airline_id** Unique identification number assigned by the U.S. Department of Transportation (DOT) to each airline. A unique airline is defined as one operating under the same DOT certificate, regardless of its code, name, or holding company.
- **flight_number:** Airline-assigned flight number.
- **origin** IATA airport code of the departure airport.
- **origin_city_name:** City of the departure airport.
- **origin_state_abr:** U.S. state of the departure airport.
- **dest:** IATA airport code of the arrival airport.
- **dest_city_name:** City of the arrival airport.
- **dest_state_abr:** U.S. state of the arrival airport.
- **dep_time:** Actual departure time (local time, hhmm).
- **dep_delay_new:** Difference, in minutes, between scheduled and actual departure time. Early departures are represented by negative values.
- **dep_del15:** Departure delay indicator: 1 if the departure delay is 15 minutes or more, 0 otherwise.
- **arr_time:** Actual arrival time (local time, hhmm).
- **arr_delay_new:** Difference, in minutes, between scheduled and actual arrival time. Early arrivals are set to 0.
- **arr_del15:** Arrival delay indicator: 1 if the arrival delay is 15 minutes or more, 0 otherwise.
- **cancelled:** Cancelled Flight Indicator (1=Yes).	
- **cancellation_code:** Specifies The Reason For Cancellation (A = Carrier, B= Weather, C= National Air System, D= Security, E = No Cancellation).
- **carrier_delay:** Carrier Delay, in Minutes.	
- **weather_delay:** Weather Delay, in Minutes.	
- **nas_delay:** National Air System Delay, in Minutes.	
- **security_delay:** Security Delay, in Minutes.

Checking the shape of the DataFrame

In [4]:
df_airlines.shape

(7014750, 26)

### 4. Cleaning names of columns

In [5]:
# df_airlines.columns = df_airlines.columns.str.strip().str.lower().str.replace(" ", "_")

In [6]:
df_airlines.columns = (
    df_airlines.columns
      .str.lower()
      .str.normalize('NFKD')      
      .str.encode('ascii', errors='ignore')
      .str.decode('utf-8')
      .str.replace(' ', '_')
      .str.replace('[^0-9a-zA-Z_]', '')
)
df_airlines.head(5)

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_airline_id,op_carrier_fl_num,origin,origin_city_name,origin_state_abr,dest,dest_city_name,dest_state_abr,dep_time,dep_delay_new,dep_del15,arr_time,arr_delay_new,arr_del15,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay
0,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4800,CLT,"Charlotte, NC",NC,LGA,"New York, NY",NY,1828.0,52.0,1.0,2015.0,36.0,1.0,0.0,NaN,6.0,0.0,0.0,0.0
1,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4801,CVG,"Cincinnati, OH",KY,DTW,"Detroit, MI",MI,1741.0,0.0,0.0,1849.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4802,DSM,"Des Moines, IA",IA,MSP,"Minneapolis, MN",MN,1554.0,0.0,0.0,1657.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4803,CVG,"Cincinnati, OH",KY,DTW,"Detroit, MI",MI,1350.0,0.0,0.0,1455.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2024,11,1,5,11/1/2024 12:00:00 AM,9E,20363,4804,GSP,"Greer, SC",SC,LGA,"New York, NY",NY,1245.0,0.0,0.0,1435.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

### 5. Cleaning Data

Before analysis, we check:

- Missing values
- Incorrect data types
- Duplicates

Dropping fl_date, because we already have columns: year, month, day.

In [7]:
df_airlines = df_airlines.drop(columns = ["fl_date"])

Checking data types:

In [8]:
df_airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7014750 entries, 0 to 7014749
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   year                   int64
 1   month                  int64
 2   day_of_month           int64
 3   day_of_week            int64
 4   op_unique_carrier      object
 5   op_carrier_airline_id  int64
 6   op_carrier_fl_num      int64
 7   origin                 object
 8   origin_city_name       object
 9   origin_state_abr       object
 10  dest                   object
 11  dest_city_name         object
 12  dest_state_abr         object
 13  dep_time               float64
 14  dep_delay_new          float64
 15  dep_del15              float64
 16  arr_time               float64
 17  arr_delay_new          float64
 18  arr_del15              float64
 19  cancelled              float64
 20  cancellation_code      object
 21  carrier_delay          float64
 22  weather_delay          float64
 23  nas_delay              float64
 24  security_delay         float64
dtypes: float64(11), int64(6), object(8)
memory usage: 1.3+ GB

Convert dep_time and arr_time to datetime:

*dep_time*:

In [12]:
df_airlines['dep_time'] = (
    df_airlines['dep_time']
    .fillna(0)
    .astype(int)
    .astype(str)
    .str.zfill(4)
)

In [14]:
df_airlines['dep_time_dt'] = pd.to_datetime(
    df_airlines['dep_time'],
    format='%H%M',
    errors='coerce'
)

In [16]:
df_airlines['dep_time'] = df_airlines['dep_time_dt'].dt.time

*arr_time:*

In [22]:
df_airlines['arr_time'] = (
    df_airlines['arr_time']
    .fillna(0)
    .astype(int)
    .astype(str)
    .str.zfill(4)
)

df_airlines['arr_time_dt'] = pd.to_datetime(
    df_airlines['arr_time'],
    format='%H%M',
    errors='coerce'
)

df_airlines['arr_time'] = df_airlines['arr_time_dt'].dt.time

Create new columns with timeslots bins for dep_time: 

- Late Night: 00:00 – 04:59
- Early Morning: 05:00 – 07:59
- Late Morning: 08:00 – 10:59
- Midday: 11:00 – 13:59
- Afternoon: 14:00 – 17:59
- Early Evening: 18:00 – 20:59
- Night: 21:00 – 23:59

In [27]:
bins = pd.to_datetime([
    '1900-01-01 00:00',
    '1900-01-01 05:00',
    '1900-01-01 08:00',
    '1900-01-01 11:00',
    '1900-01-01 14:00',
    '1900-01-01 18:00',
    '1900-01-01 21:00',
    '1900-01-02 00:00'])

labels = [
    'Late Night',      # 00:00–04:59
    'Early Morning',   # 05:00–07:59
    'Late Morning',    # 08:00–10:59
    'Midday',          # 11:00–13:59
    'Afternoon',       # 14:00–17:59
    'Early Evening',   # 18:00–20:59
    'Night'            # 21:00–23:59
]

In [28]:
df_airlines['dep_bin'] = pd.cut(
    df_airlines['dep_time_dt'],
    bins=bins,
    labels=labels,
    right=False,
    include_lowest=True
)

Checking missing values:

In [30]:
df_airlines.isnull().sum()

year                           0
month                          0
day_of_month                   0
day_of_week                    0
op_unique_carrier              0
op_carrier_airline_id          0
op_carrier_fl_num              0
origin                         0
origin_city_name               0
origin_state_abr               0
dest                           0
dest_city_name                 0
dest_state_abr                 0
dep_time                     731
dep_delay_new              82456
dep_del15                  82456
arr_time                    3688
arr_delay_new             105721
arr_del15                 105721
cancelled                      0
cancellation_code        6928290
carrier_delay            5539774
weather_delay            5539774
nas_delay                5539774
security_delay           5539774
dep_time_dt                  731
arr_time_dt                 3688
dep_bin                      731
dtype: int64

*cancellation_code:*

In [31]:
df_airlines['cancellation_code'].unique()

array([nan, 'A', 'B', 'C', 'D'], dtype=object)

In [32]:
df_airlines['cancellation_code'] = df_airlines['cancellation_code'].fillna('E')

In [33]:
df_airlines['cancellation_code'].value_counts()

cancellation_code
E    6928290
B      59213
A      16949
C      10287
D         11
Name: count, dtype: int64

*carrier_delay:*

In [34]:
df_airlines['carrier_delay'].unique()

array([   6.,   nan,   27., ..., 2010., 1199., 1683.], shape=(1672,))

Since this represents the total number of minutes a flight has been delayed due to the carrier, the null values correspond to flights that were not delayed. Therefore, we can replace the null values with 0.

In [35]:
df_airlines['carrier_delay'] = df_airlines['carrier_delay'].fillna('0')

*weather_delay:*

In [36]:
df_airlines['weather_delay'] = df_airlines['weather_delay'].fillna('0')

*nas_delay:*

In [37]:
df_airlines['nas_delay'] = df_airlines['nas_delay'].fillna('0')

*security_delay:*

In [38]:
df_airlines['security_delay'] = df_airlines['security_delay'].fillna('0')

I have done the same for weather_delay, nas_delay and security_delay. Because null values meant that it was not delayed, therefore, we can replace it with 0.

Convert all delay columns types to integer:

In [57]:
columns_to_convert = ['carrier_delay', 'weather_delay', 'nas_delay', 'security_delay']

for col in columns_to_convert:
    df_airlines[col] = pd.to_numeric(df_airlines[col], errors='coerce')

Drop the rest of null values:

In [40]:
df_airlines = df_airlines.dropna()

Making sure I don't have any more null values:

In [41]:
df_airlines.isnull().sum()

year                     0
month                    0
day_of_month             0
day_of_week              0
op_unique_carrier        0
op_carrier_airline_id    0
op_carrier_fl_num        0
origin                   0
origin_city_name         0
origin_state_abr         0
dest                     0
dest_city_name           0
dest_state_abr           0
dep_time                 0
dep_delay_new            0
dep_del15                0
arr_time                 0
arr_delay_new            0
arr_del15                0
cancelled                0
cancellation_code        0
carrier_delay            0
weather_delay            0
nas_delay                0
security_delay           0
dep_time_dt              0
arr_time_dt              0
dep_bin                  0
dtype: int64

Checking if there is any duplicate:

In [42]:
df_airlines.duplicated().sum()

np.int64(0)

### 6. KPIs

In [43]:
sns.set(style="whitegrid", rc={"figure.figsize": (12,6)})

In [45]:
df_airlines.head(10)

,year,month,day_of_month,day_of_week,op_unique_carrier,op_carrier_airline_id,op_carrier_fl_num,origin,origin_city_name,origin_state_abr,dest,dest_city_name,dest_state_abr,dep_time,dep_delay_new,dep_del15,arr_time,arr_delay_new,arr_del15,cancelled,cancellation_code,carrier_delay,weather_delay,nas_delay,security_delay,dep_time_dt,arr_time_dt,dep_bin
0,2024,11,1,5,9E,20363,4800,CLT,"Charlotte, NC",NC,LGA,"New York, NY",NY,18:28:00,52.0,1.0,20:15:00,36.0,1.0,0.0,E,6.0,0.0,0.0,0.0,1900-01-01 18:28:00,1900-01-01 20:15:00,Early Evening
1,2024,11,1,5,9E,20363,4801,CVG,"Cincinnati, OH",KY,DTW,"Detroit, MI",MI,17:41:00,0.0,0.0,18:49:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 17:41:00,1900-01-01 18:49:00,Afternoon
2,2024,11,1,5,9E,20363,4802,DSM,"Des Moines, IA",IA,MSP,"Minneapolis, MN",MN,15:54:00,0.0,0.0,16:57:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 15:54:00,1900-01-01 16:57:00,Afternoon
3,2024,11,1,5,9E,20363,4803,CVG,"Cincinnati, OH",KY,DTW,"Detroit, MI",MI,13:50:00,0.0,0.0,14:55:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 13:50:00,1900-01-01 14:55:00,Midday
4,2024,11,1,5,9E,20363,4804,GSP,"Greer, SC",SC,LGA,"New York, NY",NY,12:45:00,0.0,0.0,14:35:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 12:45:00,1900-01-01 14:35:00,Midday
5,2024,11,1,5,9E,20363,4805,PIT,"Pittsburgh, PA",PA,JFK,"New York, NY",NY,18:31:00,0.0,0.0,20:09:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 18:31:00,1900-01-01 20:09:00,Early Evening
6,2024,11,1,5,9E,20363,4807,RDU,"Raleigh/Durham, NC",NC,LGA,"New York, NY",NY,17:45:00,0.0,0.0,19:12:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 17:45:00,1900-01-01 19:12:00,Afternoon
7,2024,11,1,5,9E,20363,4808,CHS,"Charleston, SC",SC,DTW,"Detroit, MI",MI,07:14:00,0.0,0.0,09:17:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 07:14:00,1900-01-01 09:17:00,Early Morning
8,2024,11,1,5,9E,20363,4809,CHS,"Charleston, SC",SC,JFK,"New York, NY",NY,17:39:00,0.0,0.0,19:52:00,0.0,0.0,0.0,E,0,0,0,0,1900-01-01 17:39:00,1900-01-01 19:52:00,Afternoon
9,2024,11,1,5,9E,20363,4839,CVG,"Cincinnati, OH",KY,MSP,"Minneapolis, MN",MN,16:29:00,0.0,0.0,17:28:00,2.0,0.0,0.0,E,0,0,0,0,1900-01-01 16:29:00,1900-01-01 17:28:00,Afternoon

Calculating total flights for the last year:

In [50]:
total_flights = len(df_airlines)
print("The total flights from Novembre 2024 to October 2025 is", total_flights)

The total flights from Novembre 2024 to October 2025 is 6904635

##### **Puntuality KPIs:**

In [54]:
dep_delayed_rate = df_airlines['dep_del15'].mean() * 100
arr_delayed_rate = df_airlines['arr_del15'].mean() * 100
avg_dep_delay = df_airlines['dep_delay_new'].mean()
avg_arr_delay = df_airlines['arr_delay_new'].mean()
max_dep_delay = df_airlines['dep_delay_new'].max()
max_arr_delay = df_airlines['arr_delay_new'].max()

print("=== Puntuality KPIs ===")
print(f"% of departing flights delayed: {dep_delayed_rate:.2f}%")
print(f"% of arriving flights delayed:: {arr_delayed_rate:.2f}%")
print(f"Average departure delay: {avg_dep_delay:.2f} min")
print(f"Average arrival delay: {avg_arr_delay:.2f} min")
print(f"Maximum departure delay: {max_dep_delay:.2f} min")
print(f"Maximum arrival delay: {max_arr_delay:.2f} min")

=== Puntuality KPIs ===
% of departing flights delayed: 20.79%
% of arriving flights delayed:: 21.34%
Average departure delay: 16.10 min
Average arrival delay: 16.34 min
Maximum departure delay: 4352.00 min
Maximum arrival delay: 4336.00 min

##### **Delays by cause:**

In [58]:
causes = ['carrier_delay', 'weather_delay', 'nas_delay', 'security_delay']
for cause in causes:
    avg = df_airlines[cause].mean()
    print(f"Average delay by {cause}: {avg:.2f} min")

Average delay by carrier_delay: 5.05 min
Average delay by weather_delay: 1.00 min
Average delay by nas_delay: 3.30 min
Average delay by security_delay: 0.02 min